<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Griffin.Framework" version="1.0.32" targetFramework="net452" />
  <package id="Griffin.WebServer" version="0.5.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net452" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net452" />
</packages>